@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.dancing-script-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  /* background-color: gray; */
  width: 100%;
}

:root {
  --red: rgba(230, 83, 60, 1);
  --white: #ffffff;
  --white-op-0-5: rgba(255, 255, 255, 0.5);
  --white-op-0-1: rgba(255, 255, 255, 0.1);
}

/* Shared style */
.display-flex {
  display: flex;
}

.primary-btn {
  font-size: 1rem;
  color: var(--white);
  font-weight: 600;
  background-color: var(--red);
  border: none;
  border-radius: 30px;
  padding: 15px 40px;
}
.primary-btn:hover {
  background-color: red;
}

/* Header styles start here */
header {
  background: linear-gradient(to bottom, #000000, #2b2b2b, #2b2b2b, #000000);
}
.header-class {
  max-width: 1044px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  height: auto;
}
.header-class h1 {
  color: var(--red);
  font-size: 2.2rem;
  font-weight: 800;
  font-style: italic;
}
.nav-list {
  list-style: none;
  display: flex;
  border-radius: 30px;
  border: 1px solid var(--white-op-0-1);
}
.nav-list li {
  margin-right: 20px;
}
.nav-list li:last-child {
  margin-right: 0;
}
.nav-list li a {
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
  font-size: 1.1rem;
  display: block;
  padding: 5px 17px;
}
.nav-list > .home {
  color: var(--white);
  font-weight: 600;
  background-color: var(--red);
  border: none;
  border-radius: 30px;
}
.ham-burger {
  display: none;
}
.header-banner {
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.text-side-header h1 {
  color: var(--white);
  font-size: 3.9rem;
}
.shape-text {
  font-size: 4rem;
  line-height:1;
  font-style: italic;
  font-family: "Miama", sans-serif;
  font-weight: 400;
}
.text-side-header p {
  color: var(--white-op-0-5);
  font-size: 1rem;
  margin-top: 25px;
  margin-bottom: 25px;
}
.download-btn {
  font-size: 1rem;
  color: var(--white);
  font-weight: 600;
  border: 1px solid var(--white);
  background-color: black;
  border-radius: 30px;
  padding: 15px 40px;
  margin-left: 7px;
}
.banner-side-header {
  position: relative;
  margin: 0 auto;
}
.banner-image {
  width: 280px;
  /* position: relative;
  left: 35%; */
  margin-left: 23%;
}
.banner-image img {
  max-width: 100%;
}
.work-out-video {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  width: 146px;
  left: 90%;
  bottom: 60%;
  z-index: 1;
  border: 1px solid var(--white-op-0-1);
  border-radius: 12px;
  padding: 12px 20px;
}
.work-out-video h1 {
  color: var(--white);
  font-size: 2.5rem;
}
.work-out-video p {
  color: rgba(239, 237, 232, 0.65);
  margin-top: 5px;
  font-size: 0.9rem;
}

.tutorial-video-container {
  display: flex;
  align-items: center;
  width: 160px;
  background-color: rgba(48, 48, 48, 0.55);
  padding: 15px 20px;
  position: absolute;
  bottom: 10%;
  left: -20%;
  z-index: 1;
  border: 1px solid var(--white-op-0-1);
  border-radius: 12px;
}
.circle {
  width: 35px;
  height: 35px;
  background-color: var(--red);
  border-radius: 50%;
  margin-right: 10px;
}
.tutorial-video h1 {
  color: var(--white);
  font-size: 1.5rem;
}
.tutorial-video p {
  color: rgba(239, 237, 232, 0.65);
  margin-top: 8px;
  font-size: 1rem;
}

/* Habit section styles start here */
.habit-section {
  max-width: 1044px;
  margin: 0 auto;
  margin-top: 100px;
}
.fitness-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fitness-message h1 {
  font-size: 2.5rem;
  color: var(--white);
  margin-bottom: 14px;
}
.fitness-message p {
  color: var(--white-op-0-5);
  font-size: 0.9rem;
  text-align: center;
}
.fitness-activities {
  display: flex;
  gap: 10px;
  margin-top: 50px;
}
.fitness-activities div {
  flex: 1;
  padding: 10px;
  text-align: center;
}
.fitness-activities img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-bottom: 25px;
}
.fitness-activities h3 {
  color: var(--white);
  font-weight: 600;
  font-size: 1.12rem;
}
.fitness-activities p {
  color: var(--white-op-0-5);
  font-size: 0.86rem;
  margin-top: 6px;
}

/* Run extra miles styles start here */
.run-extra-mile {
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: rgba(34, 34, 34, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 18px;
}
.extra-mile-info {
  flex: 1;
  text-align: start;
  margin-left: 54px;
}
.extra-mile-info h1 {
  color: var(--white);
  font-size: 48px;
  margin-bottom: 14px;
}
.extra-mile-info p {
  color: var(--white-op-0-5);
  font-size: 0.9rem;
  margin-bottom: 34px;
}
.extra-mile-img {
  flex: 1;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 32px;
}
.extra-mile-img img {
  max-width: 100%;
  height: auto;
  object-fit: none;
  object-position: 72% 31%;
  zoom: 56%;
  border-radius: 18px;
}

/* BMI calculator start here */
.cal-header {
  max-width: 670px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.cal-header h1 {
  color: var(--white);
  font-size: 3rem;
  margin-bottom: 14px;
}
.cal-header p {
  color: var(--white-op-0-5);
  font-size: 0.9rem;
}
.bmi-cal {
  margin-top: 80px;
  padding: 30px 0 30px 0;
  background-color: rgba(34, 34, 34, 1);
}
.cal {
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}
.chart-title {
  max-width: 443px;
  margin-right: 44px;
}
.chart-title h2 {
  color: var(--white);
  font-size: 1.75rem;
}
.chart-title table {
  max-width: 310px;
  border-collapse: collapse;
  margin-top: 40px;
}
.chart-title th,
.chart-title td {
  border: 1px solid var(--white-op-0-5);
  padding: 10px 12px;
}
.chart-title th {
  text-align: start;
  font-size: 1rem;
  color: var(--white);
  font-weight: 500;
}
.chart-title td {
  font-size: 0.88rem;
  color: var(--white-op-0-5);
}
.cal-main-section h2 {
  color: var(--white);
  font-size: 1.75rem;
  margin-bottom: 14px;
}
.cal-main-section p {
  color: var(--white-op-0-5);
  font-size: 0.88rem;
  margin-bottom: 34px;
}
.cal-main-section input[type="text"],
.cal-main-section select {
  box-sizing: border-box;
  margin: 10px 0;
  margin-right: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 282px;
  height: 48px;
  border: none;
  border-radius: 8px;
  color: var(--white-op-0-5);
  /* background color and not working in select option. If i use 0.5 alpha*/
  /* background-color: var(--white-op-0-5); */
  background-color: #383838;
}
.cal-main-section select {
  appearance: none;
  -webkit-appearance: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
  background-position: 100%;
  background-repeat: no-repeat;
}
.submit-btn {
  margin-top: 20px;
}
.cal-main-section input::placeholder {
  color: var(--white-op-0-5);
}
.cal-main-section select[name="activity-fector"] {
  width: calc(2 * 282px + 10px);
}
.cal-main-section input:focus,
.cal-main-section select:focus {
  outline: 1px solid var(--red);
}

/*Team section styles*/
.team-section {
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 100px;
}
.team-intro {
  max-width: 670px;
  margin: 0 auto;
  text-align: center;
}
.team-intro h1 {
  color: var(--white);
  font-size: 3rem;
}
.team-intro p {
  color: var(--white-op-0-5);
  font-size: 0.9rem;
  margin-top: 14px;
}
.team-member-list {
  margin-top: 50px;
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: space-around;
  background-color: var(--white-op-0-1);
  border-radius: 18px;
}
.team-member {
  position: relative;
}
.team-member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}
.name {
  position: absolute;
  left: 7%;
  bottom: 7%;
  z-index: 1;
}
.name h3 {
  color: var(--white);
  font-size: 1.3rem;
}
.name p {
  color: var(--white-op-0-5);
  font-size: 0.9rem;
}

/* Footer Styles Start Here */
footer {
  background-color: var(--white-op-0-1);
  padding-bottom: 30px;
  padding-top: 66px;
  margin-top: 100px;
}
.footer-container {
  max-width: 1060px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer-intro h1 {
  font-size: 4rem;
  font-weight: 800;
  color: var(--red);
  font-style: italic;
}
.footer-intro p {
  color: var(--white-op-0-5);
  font-size: 0.85rem;
  margin-top: 20px;
}
.footer-links-container {
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
}
.footer-links h2 {
  font-weight: 700;
  color: var(--white);
  font-size: 2rem;
}
.footer-link-group {
  margin-top: 25px;
}
.footer-link-group h4 {
  margin-top: 15px;
  color: var(--white-op-0-5);
  font-size: 1.45rem;
  font-weight: 400;
}
footer hr {
  background-color: var(--white-op-0-1);
  height: 1px;
  border: 0;
  margin-top: 60px;
}
.copy-right {
  text-align: center;
  margin-top: 20px;
  color: var(--white-op-0-5);
}
/* Pricing start here */
.pricing-plans {
  max-width: 1060px;
  margin: 0 auto;
  margin-top: 100px;
}
.pricing-header {
  text-align: center;
}
.pricing-header p {
  text-transform: uppercase;
  color: var(--red);
  font-size: 0.9rem;
  display: inline-block;
  padding: 8px 20px 6px;
  font-weight: 500;
  margin-bottom: 50px;
  background: var(--white);
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 30);
  border-radius: 50px;
  border: none;
}
.pricing-header p:hover {
  background-color: var(--white-op-0-5);
}
.pricing-header h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--white);
}
.pricing-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  margin-top: 30px;
}
.pricing-plan {
  padding: 20px 20px;
  background-color: rgba(34, 34, 34, 1);
  font-size: 0.9rem;
  color: var(--white);
  border-radius: 15px;
}
.pricing-plan-title {
  font-size: 1.5rem;
}
.pricing-plan-price {
  font-size: 1rem;
  margin-top: 20px;
  color: var(--white);
}
.pricing-plan-divider {
  margin-top: 20px;
}
.pricing-plan-description {
  font-size: 0.9rem;
  margin-top: 20px;
  color: var(--white-op-0-5);
}
.pricing-plan-features {
  margin-top: 44px;
}
.pricing-plan-features > li {
  list-style: none;
  color: var(--white-op-0-5);
  margin-top: 10px;
  font-size: 0.9rem;
}
.pricing-plan-features > li {
  position: relative;
  padding-left: 25px;
  list-style: none;
  color: var(--white-op-0-5);
  margin-top: 10px;
  font-size: 0.9rem;
}
.pricing-plan-features > li::before {
  content: "→";
  position: absolute;
  left: 0;
  color: var(--white);
}
.pricing-plan-button {
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 1rem;
  position: relative;
  background-color: transparent;
  color: var(--white-color);
  z-index: 2;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.pricing-plan-button::before {
  position: absolute;
  content: "";
  left: 3px;
  top: 0;
  width: 97%;
  height: 100%;
  background: var(--red);
  z-index: -1;
  border-radius: 10px;
  transform: skewX(-10deg);
}
.pricing-plan-button:hover::before {
  position: absolute;
  content: "";
  left: 3px;
  top: 0;
  width: 97%;
  height: 100%;
  background: red;
  z-index: -1;
  border-radius: 10px;
  transform: skewX(-10deg);
  transition: all 0.3s;
}
.pricing-plan-price {
  display: flex;
  align-items: center;
}
.pricing-plan-price sup {
  align-self: flex-start;
  margin-right: 5px;
}
.pricing-plan-price .amount {
  font-size: 2em;
}
.pricing-plan-price sub {
  align-self: flex-end;
  margin-left: 5px;
}

.display-none {
  display: none;
}

/* responsive media query */
@media screen and (max-width: 576px) {
  /* nav and header*/
  .nav-list {
    display: none;
  }
  .header-class h1 {
    padding-left: 20px;
  }
  .ham-burger {
    display: block;
    padding-right: 20px;
  }
  /* nav section */
  .header-banner {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
  }
  .banner-side-header {
    position: relative;
    margin: 0 auto;
  }
  .text-side-header h1 {
    color: var(--white);
    font-size: 2rem;
    margin-top: 30px;
  }
  .shape-text {
    font-size: 2rem;
    line-height: 1;
    font-family: "Miama", sans-serif;
    font-weight: 400;
  }
  .text-side-header p { 
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .header-btn {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
  }
  .header-btn,
  .primary-btn,
  .download-btn {
    padding: 17px 20px;
    font-size: 1.1rem;
  }
  .banner-image {
    max-width: 280px;
    position: relative;
    left: -20%;
  }
  .work-out-video {
    width: 97px;
    left: 60%;
    bottom: 75%;
  }
  .work-out-video h1 {
    font-size: 1.9rem;
  }
  .tutorial-video h1 {
    font-size: 1.1rem;
  }
  .work-out-video p,
  .tutorial-video p {
    font-size: 0.6rem;
  }
  .tutorial-video-container {
    width: 110px;
    bottom: 40%;
    left: -10%;
  }
  /* habit section */
  .fitness-activities {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .fitness-message h1 {
    font-size: 2rem;
  }
  .fitness-message p {
    font-size: 0.9rem;
  }
  .fitness-activities div {
    width: 70%;
  }

  /* run extra miles */
  .run-extra-mile {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 20px;
    margin: 0 20px;
    margin-top: 50px;
  }
  .extra-mile-img {
    margin-right: 0px;
    padding-bottom: 0;
  }
  .extra-mile-info {
    margin-left: 0px;
  }
  .block-btn {
    display: block;
    width: 100%;
  }

  /* Bmi calculator */
  .cal-header {
    margin-top: 50px;
    align-items: center;
  }
  .cal-header p {
    text-align: center;
  }
  .bmi-cal {
    margin-top: 40px;
  }
  .cal {
    flex-direction: column;
    margin-top: 9px;
    padding: 0 20px;
  }
  .chart-title h2 {
    font-size: 1rem;
  }
  .chart-title table {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .cal-main-section input[type="text"],
  .cal-main-section select {
    max-width: 170px;
  }
  .cal-main-section select[name="activity-fector"] {
    max-width: 350px;
  }
  .submit-btn {
    width: 150px;
  }
  /* Team members list */
  .team-section {
    padding: 0 20px;
    margin-top: 50px;
  }
  .team-member-list {
    display: flex;
    flex-direction: column;
  }
  /* pricing */
  .pricing-plans {
    margin-top: 50px;
  }
  .pricing-options {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  .pricing-plan {
    margin-bottom: 30px;
  }
  /* footer */
  .footer {
    margin-top: 50px;
    padding: 0 20px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
  }
  .footer-links-container {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 25px;
  }
  .footer-links-container .footer-links:first-child {
    margin-bottom: 30px;
  }
  .copy-right {
    padding-bottom: 30px;
  }
}
